/* initial style */
* { box-sizing: border-box; }

body {
  background-color: /*#153131;*/ #121212;
  padding-top: 10em;
  display: flex;
  flex-flow: column;
  min-height: 92vh;
}

.footer {
  height: 50px;
  margin-top: auto;
}

#cp {
  color: white;
}

label#typeWriter {
  display: inline-flex;
}

#typeWriter{
	font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

@media(prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  .btn-outline-light {
    color:black;
    border-color: black;
  }
  .btn-outline-light:hover {
    border-color: #BE1622;
  }
  #cp {
    color: black;
  }
  #typeWriter {
    color:black;
  }
}