@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.typewriter-cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}