<title><%= title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Alfonso Pisicchio, Developer, Coder, OpenSource lover">
<meta name="author" content="Alfonso Pisicchio">
<meta name="keywords" content="Alfonso Pisicchio, Sviluppatore, Developer, PHP, Bash, NodeJS, Express, Javascript, MySQL, MariaDB, MongoDB">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="theme-color" content="#BE1622">


<!-- for old devices -->
<meta name="HandheldFriendly" content="true" />
<!-- mod full screen -->
<meta name="mobile-web-app-capable" content="yes">

<!-- full screnn ios-->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Alfonso">

<!-- icon ios-->
<link rel="apple-touch-icon" href="/images/AP-dev1.png">
<!-- icon android -->
<link rel="icon" sizes="192x192" href="/images/AP-dev1.png">
<!-- Windows  -->
<meta name="msapplication-navbutton-color" content="red">
<meta name="msapplication-TileColor" content="red">
<!--<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
<meta name="msapplication-config" content="browserconfig.xml">-->

<link rel="shortcut icon" href="/images/favicon.ico"/>

<link rel="stylesheet" href="./css/all.min.css"/>
<link rel="stylesheet" href="./css/bootstrap.min.css"/>

<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet"/>   
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

<link rel='stylesheet' href='/stylesheets/style.css'/>
