<!-- START NAV -->
<nav id="navbar" class="nav">
    <div clas="col"><img id="logo" src="/images/android-icon-72x72.png" alt="logoAlfonsoPisicchio"></div>
    <ul class="nav-list">
        <li>
            <a href="#welcome-section">About</a>
        </li>
        <li>
            <a href="#projects">Work</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>

<!-- END NAV -->
